* {box-sizing: border-box}

html, body {
	height: 100%;
	font: 12px Arial,sans-serif; 
	margin: 0px;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#showinfobtn {
	display: none;
	padding: 5px; 
	position: fixed; /* Stay in place */
	top: 0px;
	right: 0px;
	z-index: 5; /* Stay on top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the */
}

#showscripttabobtn {
	display: block;
	padding: 5px; 
	position: absolute;
	bottom: 5px;
	right: 60px;
	z-index: 10; /* Stay on top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the */
}

.Rpanel {
	flex-flow: column;
	height: 100%; /* 100% Full-height */
	width: 0px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 5; /* Stay on top */
	top: 0px; /* Stay at the top */
	right: 0px;
	background-color: #888; 
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 5px; /* Place content 5px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the */
}

.Bpanel {
	flex-flow: column;
	width: 700px;
	height: 0px; /* 0px height - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 20; /* Stay on top */
	bottom: 0px; /* Stay at the bottom */
	right: 0px; /* Stay at the left side */
	background-color: #eee; 
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 5px; /* Place content 5px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the */
}

.tablecenterj {
	overflow-wrap: break-word;
	table-layout: fixed;
	text-align: center;
	margin: auto;
}

.tableleftj {
	overflow-wrap: break-word;
	table-layout: fixed;
	text-align: left;
	width: 100%;
}

.tableleftj tr{
	background: #EEE;
	vertical-align: top;
}

.tselrow:hover {
	background-color: #FFC;
}

.tselrow.active {
	background-color: #777;
}

.tselcell clickable:hover {
	background-color: #FFC;
}

input[type=search] {
	width: 300px;
	font-size: 13px;
	text-align: left;
}

button.closeb {
	display: inline-block
	width: fit-content;
	white-space: pre;
	padding: 1px 24px 1px 5px;
}

.editbutton {
	overflow: hidden;
	font-size: 8px;
	text-align: center;
	width: auto;
	min-width: 15px;
	padding: 1px;
}

button.closeb i {
	float: left;
}

select {
	font-size: 10px;
}

i {
	padding: 2px;
	vertical-align:middle;
}

.container {
	display: flex;
	height: 100%;
	flex-flow: column;
}

.wrapper {
	flex: auto;
	display: flex;
	align-items: stretch;
	height: 100%;
}

footer {
	flex: none;
	background: #777;
	text-align: center;
	padding: 5px;
}

/* Style the tab */
.navtab {
	overflow: auto;
	height: 100%;
	float: left;
	border: 1px solid #CCC;
	padding: 4px;
	background-color: #EEE;
	width: 140px;
	align-items: stretch;
}

/* Style the buttons that are used to open the tab content */
.tabitem {
	display: block;
	background-color: inherit;
	color: black;
	padding: 5px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.4s;
}

/* Change background color of buttons on hover */
.tabitem:hover {
	background-color: #FFC;
}

/* Create an active/current "tab button" class */
.tabitem.active {
	background-color: #ccc;
}

/* Dropdown container (hidden by default). */
.dropdown-container {
	display: none;
	background-color: #EEE;
	padding: 4px 4px 4px 16px;
	transition: 0.4s;
}

iframe{
//	font-size: 8px;
//	border-width: 1px;
//	border-style: inset;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
//	justify-content: center;
//	align-items: center;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

.scroll {
	flex: 1;
	display: block;
	overflow: auto;
	text-align: center;
	padding: 5px;
	margin: 5px;
}

.schedGrid {
	display: grid;
	grid-template-columns: 1fr repeat(10, 15px) 100px 35px 100px repeat(10, 15px) 35px 1fr;
	grid-template-rows: repeat(1401, auto);
	grid-gap: 0px;
	overflow-wrap: break-word;
	text-align: center;
	vertical-align: middle;
}

.stGrid {
	display: grid;
	grid-gap: 2px;
	overflow-wrap: break-word;
	text-align: center;
	vertical-align: middle;
	grid-template-areas: 
		"outs"
		"status"
		"queue"
		"ins"
		"accord"
		"admin";
	grid-template-rows: 150px 150px 684px 329px minmax(200px, auto-fit) minmax(200px, auto-fit);
	height: 100%;
}

.stRecGrid {
	display: grid;
	grid-gap: 2px;
	font-size: 8px;
	border-width: 1px;
	border-style: inset;
	overflow-wrap: break-word;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	grid-template-areas: 
		"head head head head head"
		"button time bus vu fade"
		"button rem status vu fade";
	grid-template-columns: 75px 120px 100px 1fr 1fr;
	grid-template-rows: 17px 17px 17px;
}

@media (min-width: 1485px) {
	.stGrid {
		grid-template-areas: 
			"status outs accord"
			"queue ins accord"
			"queue admin accord";
		grid-template-columns: 1fr 584px 264px;
		grid-template-rows: 150px 329px 355px;
	}
	
	.stRecGrid {
		grid-template-areas: 
			"head head"
			"bus status"
			"time vu"
			"rem vu"
			"button fade";
		grid-template-columns: 75px 1fr;
		grid-template-rows:  17px 17px 17px 17px 34px;
	}
	
	.stSide {
		grid-area: accord;
		background-color: #666;
		overflow-y: scroll;*/
	}
}

.rVUcanvas{
	width: 90%;
	height: 10px;
}

.stStatus {
	grid-area: status;
	padding: 5px;
	background-color: #666;
}

.stQueue {
	grid-area: queue;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #666;
}

.stIns {
	grid-area: ins;
	background-color: #666;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mixer{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 72px;
	grid-template-rows: 327px;
	grid-gap: 1px;
	overflow-wrap: break-word;
	overflow-x: auto;
}

.player{
	display: grid;
	grid-template-rows: repeat(2, 13px) 30px repeat(4, 17px) auto 34px;
	grid-template-columns: 72px;
	grid-gap: 1px;
	background-color: #CCC;
	font-size: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-width: 1px;
	border-style: inset;
}

.stOuts {
	grid-area: outs;
	background-color: #666;
	display: flex;
	flex-flow: row;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
}

.stSide {
	grid-area: accord;
	background-color: #666;
}

.stAdmin {
	grid-area: admin;
	background-color: #666;
}

/* Style the tab content */
.tabcontent {
	flex: 1;
	flex-flow: column;
	display: none;
	background-color: #ccc;
	float: left;
	padding: 5px 10px;
	text-align: center;
	align-items: stretch;
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.dropdown {
	position: relative;
	display: inline-block;
}

.liveSearch {
	text-align: left;
	display: block;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	left: 0px;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 0px;
	z-index: 10;
}

.bus-list {
	text-align: left;
	display: none;
	max-height: 227px;
	overflow-y: auto;
	position: relative;
	left: 0px;
	background-color: #f6f6f6;
	width: 72px;
	border: 1px solid #ddd;
	z-index: 50;
}

.search-list {
	text-align: left;
	display: none;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	left: 0px;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 1px solid #ddd;
	z-index: 20;
}

.search-list-right {
	text-align: left;
	display: none;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	right: 0px;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 1px solid #ddd;
	z-index: 20;
}

.search-list-rtemplate {
	text-align: left;
	display: none;
	max-height: 150px;
	overflow-y: auto;
	position: relative;
	right: 0px;
	background-color: #f6f6f6;
	min-width: 120px;
	border: 1px solid #ddd;
	z-index: 20;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  height: 23px;
  width: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type="text"], input[type="password"] {
	font-size: 10px;
	margin: 2px;
}

input[type="number"] {
	font-size: 10px;
	width: 50px;
}

input[type="date"], [type="datetime-local"]{
	font-size: 10px;
}

textarea {
	font-size: 10px;
	margin: 2px;
}

.boxed {
	display: block; 
	border: 1px solid #000;
	padding: 10px;
	margin: 5px;
}

#login {
	width: 80%;
	margin: 0 auto;

}
#login h2 {
	text-align: center;
	color: #4d4d4d;
	font-size: 24px;
	padding: 20px 0 20px 0;
}

#login input[type="password"],
#login input[type="text"] {
	font-size: 12px;
	width: 250px;
	padding: 15px;
	border: 1px solid #DDD;
	margin-bottom: 15px;
	box-sizing:border-box;
}

#login input[type="submit"] {
	width: 250px;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
}

#browsres {
	display: flex;
	flex: 1;
	flex-flow: row;
	padding: 10px;
	width: 100%;
	height: calc(100% - 45px);
}

.tablecont {
	display:table-row;
	width:100%;
	overflow: auto;
	text-align: center;
	padding: 5px;
}

#brefine * {
	font-size: 10px;
}

audio {
	width: 100%;
}​

#btype {
	flex: none;
	width: 120px;
}

.tab {
	background-color: #444;
	color: #888;
	cursor: pointer;
	padding: 8px;
	text-align: center;
	transition: 0.4s;
}

.accordion {
	background-color: #444;
	color: #888;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.active {
	background-color: #666;
}

.accordion:hover {
	background-color: #FFC;
}

.search-list-entry:hover {
	background-color: #FFC;
}

/* Style the accordion panel. Note: hidden by default */
.accpanel {
	flex: 1;
	flex-flow: column;
	background-color: white;
	display: none;
	overflow: auto;
	padding: 2px;
}

.walllist {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

/* drag and drop lists */
.ddlist {
	list-style: none;
	overflow: auto;
	padding: 1px;
	margin: 1px;
}

.ddlist li {
	text-align: left;
	margin: 1px;
	padding: 2px;
	border: 1px solid #333;
	background: #eaeaea;
}

.ddlist li.hint {
	background: #fea;
}
.ddlist li.active {
	background: #ffd4d4;
}

.modal {
	display: none;
	position: fixed;
	text-align: center;
	z-index: 15;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
	padding: 10px;
	margin: 10px;
	overflow: auto;
	background-color: rgb(240,240,240); /* Fallback color */
	background-color: rgba(240,240,240,0.9); /* Black w/ opacity */
	transition: 0.5s; /* 0.5 second transition effect to slide in the */
}

#stQNext {
	text-align: right;
	font-size: 48px;
}

#stQDur {
	text-align: right;
	font-size: 16px;
}

.player-fader {
	display: inline-block;
	width: 12px;
	height: 134px;
	padding: 0;
}

.player-fader input {
	width: 138px;
	height: 12px;
	margin: 0;
	transform-origin: 67px 80px;
	transform: rotate(-90deg);
}

.playerStopBtn {
	display: none;
	justify-content: center;
	align-items: center;
	height: 30px; 
	width: 30px; 
	background-color: LightGray;
}

.stTbBtn {
	justify-content: center;
	align-items: center;
	height: 40px; 
	width: 40px; 
	background-color: LightGray;
}

.stWallBtn {
	justify-content: center;
	align-items: center;
	height: 40px; 
	width: 250px; 
	background-color: LightGray;
}

.stDumpBtn {
	justify-content: center;
	align-items: center;
	height: 60px; 
	width: 60px; 
	background-color: Red;
}

input[type=range] {
	height: 15px;
	-webkit-appearance: none;
	margin: 0px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #2497E3;
	border-radius: 1px;
	border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #2497E3;
	height: 8px;
	width: 8px;
	border-radius: 8px;
	background: #A1D0FF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #2497E3;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #2497E3;
	border-radius: 1px;
	border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #2497E3;
	height: 8px;
	width: 8px;
	border-radius: 8px;
	background: #A1D0FF;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #2497E3;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
	background: #2497E3;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #2497E3;
	height: 8px;
	width: 8px;
	border-radius: 8px;
	background: #A1D0FF;
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	background: #2497E3;
}

input[type=range]:focus::-ms-fill-upper {
	background: #2497E3;
}

