* {box-sizing: border-box}

html, body {
	height: 100%;
	font: 12px Arial,sans-serif; 
	margin: 0px;
}


.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#showinfobtn {
	display: none;
	padding: 5px; 
	position: fixed; /* Stay in place */
	top: 0px;
	right: 0px;
	z-index: 5; /* Stay on top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the */
}

.panel {
	flex-flow: column;
	height: 100%; /* 100% Full-height */
	width: 0px; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 5; /* Stay on top */
	top: 0px; /* Stay at the top */
	right: 0px;
	background-color: #eee; 
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 5px; /* Place content 5px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the */
}

.tablecenterj {
	overflow-wrap: break-word;
	table-layout: fixed;
	text-align: center;
	margin: auto;
}

.tableleftj {
	overflow-wrap: break-word;
	table-layout: fixed;
	text-align: left;
	width: 100%;
}

.tableleftj tr{
	background: #EEE;
}

.tselrow:hover {
	background-color: #FFC;
}

.tselrow.active {
	background-color: #777;
}

.tselcell clickable:hover {
	background-color: #FFC;
}

input[type=search] {
	width: 300px;
	font-size: 13px;
	text-align: left;
}

button.closeb {
	display: inline-block
	width: fit-content;
	white-space: pre;
	padding: 1px 24px 1px 5px;
}

.editbutton {
	overflow: hidden;
	font-size: 8px;
	text-align: center;
	width: auto;
	min-width: 15px;
	padding: 1px;
}

button.closeb i {
	float: left;
}

select {
	font-size: 10px;
}

i {
	padding: 6px;
}

.container {
	display: flex;
	height: 100%;
	flex-flow: column;
}

.wrapper {
	flex: auto;
	display: flex;
	align-items: stretch;
	height: 100%;
}

footer {
	flex: none;
	background: #777;
	text-align: center;
	padding: 5px;
}

/* Style the tab */
.navtab {
	overflow: auto;
	height: 100%;
	float: left;
	border: 1px solid #CCC;
	background-color: #EEE;
	width: 140px;
	align-items: stretch;
}

/* Style the buttons that are used to open the tab content */
.navtab button {
	display: block;
	background-color: inherit;
	color: black;
	padding: 10px 12px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	transition: 0.4s;
}

/* Change background color of buttons on hover */
.navtab button:hover {
	background-color: #FFC;
}

/* Create an active/current "tab button" class */
.navtab button.active {
	background-color: #ccc;
}

/* Dropdown container (hidden by default). */
.dropdown-container {
	display: none;
	background-color: #EEE;
	padding-left: 16px;
	transition: 0.4s;
}

.dropdown-container select, 
.dropdown-container label {
	background-color: #EEE;
	font-size: 12px;
	position: relative;
	left: 12px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
	float: right;
	padding-right: 8px;
}

.scroll {
	flex: 1;
	display: block;
	overflow: auto;
	text-align: center;
	padding: 5px;
	margin: 5px;
}

.schedGrid {
	display: grid;
	grid-template-columns: 1fr repeat(10, 15px) 100px 35px 100px repeat(10, 15px) 35px 1fr;
	grid-template-rows: repeat(1401, auto);
	grid-gap: 0px;
	overflow-wrap: break-word;
	text-align: center;
	vertical-align: middle;
}

.studioGrid {
	display: grid;
	grid-template-columns: minmax(50px, auto), repeat(11, 50px);
	grid-template-rows: repeat(12, minmax(50px, auto));
	grid-gap: 2px;
	overflow-wrap: break-word;
	text-align: center;
	vertical-align: middle;
}

.stQueue {
	grid-column: 1 / 1;
	grid-row: 1 / 10;
	background-color: #666;
}

.stIns {
	grid-column: 1 / 5;
	grid-row: 1 / 10;
	background-color: #666;
}

.stOuts {
	grid-column: 2 / 5;
	grid-row: 1 / 2;
	background-color: #666;
}

/* Style the tab content */
.tabcontent {
	flex: 1;
	flex-flow: column;
	display: none;
	background-color: #ccc;
	float: left;
	padding: 0px 12px;
	text-align: center;
	align-items: stretch;
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.dropdown {
	position: relative;
	display: inline-block;
}

.liveSearch {
	text-align: left;
	display: block;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	left: 0px;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 0px;
	z-index: 10;
}

.search-list {
	text-align: left;
	display: none;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	left: 0px;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 1px solid #ddd;
	z-index: 20;
}

.search-list-right {
	text-align: left;
	display: none;
	max-height: 150px;
	overflow-y: auto;
	position: absolute;
	right: 0px;
	background-color: #f6f6f6;
	min-width: 230px;
	border: 1px solid #ddd;
	z-index: 20;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

input[type="text"], input[type="password"] {
	font-size: 10px;
	margin: 2px;
}

input[type="number"] {
	font-size: 10px;
	width: 50px;
}

input[type="date"] {
	font-size: 10px;
}

textarea {
	font-size: 10px;
	margin: 2px;
}

.boxed {
	display: block; 
	border: 1px solid #000;
	padding: 10px;
	margin: 5px;
}

#login {
	width: 80%;
	margin: 0 auto;

}
#login h2 {
	text-align: center;
	color: #4d4d4d;
	font-size: 24px;
	padding: 20px 0 20px 0;
}

#login input[type="password"],
#login input[type="text"] {
	font-size: 12px;
	width: 250px;
	padding: 15px;
	border: 1px solid #DDD;
	margin-bottom: 15px;
	box-sizing:border-box;
}

#login input[type="submit"] {
	width: 250px;
	padding: 15px;
	background-color: #535b63;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
	font-weight: bold;
	color: #ffffff;
}

#browsres {
	display: flex;
	flex: 1;
	flex-flow: row;
	padding: 10px;
	width: 100%;
	height: 100%;
}

.tablecont {
	display:table-row;
	width:100%;
	overflow: auto;
	text-align: center;
	padding: 5px;
}

#brefine * {
	font-size: 10px;
}

audio {
	width: 100%;
}​

#btype {
	flex: none;
	width: 120px;
}

.accordion {
	background-color: #444;
	color: #888;
	cursor: pointer;
	padding: 8px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.active {
	background-color: #666;
}

.accordion:hover {
	background-color: #FFC;
}

.search-list-entry:hover {
	background-color: #FFC;
}

/* Style the accordion panel. Note: hidden by default */
.accpanel {
	flex: 1;
	flex-flow: column;
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: auto;
	padding: 5px;
}

/* drag and drop lists */
.ddlist {
	list-style: none;
	overflow: auto;
	padding: 5px;
	margin: 5px;
}

.ddlist li {
	text-align: left;
	margin: 5px;
	padding: 10px;
	border: 1px solid #333;
	background: #eaeaea;
}

.ddlist li.hint {
	background: #fea;
}
.ddlist li.active {
	background: #ffd4d4;
}

.modal {
	display: none;
	position: fixed;
	text-align: center;
	z-index: 15;
	left: 0;
	top: 0;
	width: 100%;
	height: 50%;
	padding: 10px;
	margin: 10px;
	overflow: auto;
	background-color: rgb(240,240,240); /* Fallback color */
	background-color: rgba(240,240,240,0.9); /* Black w/ opacity */
	transition: 0.5s; /* 0.5 second transition effect to slide in the */
}
